<span class="contact-icon text-center">
    <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>
    <!-- <a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i></a> -->
    <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    <a href="https://www.semanticscholar.org/author/{{ site.semantic_id }}" target="_blank" title="SemanticScholar"><i class="ai ai-semantic-scholar"></i></a>
    <!-- {% if site.publons_id %}<a href="https://publons.com/a/{{ site.publons_id }}/" target="_blank" title="Publons"><i class="ai ai-publons"></i></a>{% endif %} -->
    <!-- {% if site.research_gate_profile %}<a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" target="_blank" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %} -->
    <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <!-- <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a> -->
    <!-- <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a> -->
    <!-- <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a> -->
    <a href="https://www.youtube.com/channel/{{ site.youtube_username }}" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>
    <!-- {% if site.medium_username %}<a href="https://medium.com/@{{ site.medium_username }}" target="_blank" title="Medium"><i class="fab fa-medium"></i></a>{% endif %} -->
    <!-- {% if site.quora_username %}<a href="https://www.quora.com/profile/{{ site.quora_username }}" target="_blank" title="Quora"><i class="fab fa-quora"></i></a>{% endif %} -->
</span>
