<div class="social">
    <span class="contact-icon text-center">
        <a href=mailto:{{ site.email | encode_email }}><i class="fas fa-envelope"></i></a>
        <a href="https://scholar.google.co.uk/citations?user={{ site.scholar_userid }}&sortby=pubdate" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
        <a href="https://www.semanticscholar.org/author/{{ site.semantic_id }}" target="_blank" title="SemanticScholar"><i class="ai ai-semantic-scholar"></i></a>
        <a href="https://speakerdeck.com/{{ site.default_username }}" target="_blank" title="speaker-deck"><i class="fab fa-speaker-deck"></i></a>
        <a href="https://github.com/{{ site.default_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
        <!-- <a href="https://gitlab.com/{{ site.default_username }}" target="_blank" title="GitLab"><i class="fab fa-gitlab"></i></a> -->
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://x.com/{{ site.default_username }}" target="_blank" title="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.youtube.com/@{{ site.default_username }}" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>
        <!-- <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" target="_blank" title="stackoverflow"><i class="ai ai-stackoverflow"></i></a> -->
        <!-- <a href="https://medium.com/@{{ site.default_username }}" target="_blank" title="medium"><i class="fa-brands fa-medium"></i></a> -->
    </span>
</div>
